{
  email {$CADDY_EMAIL}
}

{$GYM_API_DOMAIN} {
  encode zstd gzip
  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
    -Server
  }
  request_body {
    max_size 8MB
  }
  reverse_proxy api:8082 {
    header_up X-Forwarded-For {remote_host}
  }
}
